.loginform-container {
  display: flex;
  background-color: blue;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 30rem;
  background-color: white !important;
}

.loginbox {
  padding: 2rem;
  margin: 0 auto;
  box-shadow: 10px 10px 10px #888888;
}

label {
  padding: 0.5rem;
  font-size: 15px;
}

.dashboard-container {
  background-color: white;
}

table {
  background-color: white;
}

.header-logo {
  height: 3rem;
  width: 12rem;
}

.loginform-logo {
  height: 80px;
  width: 230px;
}

@media (max-width: 320px) {
  .loginform-logo {
    height: 80px;
    width: 90%;
  }
}
.navbar {
  border-bottom: 1px solid gray;
  padding: 0 1.5rem !important;
  background-color: rgb(12, 60, 89);
}

.signout {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
.dashboard-table {
  width: 100%;
}
td {
  word-break: break-all;
}
